html {
    font-size: 10px;
}


.top-header {
    background-color: #003580;
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 10rem;
    padding: 3rem 1.5rem;
}

.logo {
    color: #fff;
    font-size: 3rem;

}

.right-links {
    display: flex;
    justify-content: space-between;
    width: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

.companyRefFromClient {
    color: #fff;

}

.NavLink {
    color: #fff;
}



.header-search {
    background-color: #003580;
    height: 15rem;
    padding: 1rem 1rem;
}

.main-title {
    font-size: 5rem;
    color: #fff;
    font-weight: bold;
}

.sub-title {
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    margin-top: 2rem;
}

.search-box {
    padding: 0rem 3.5rem 0rem 5rem;
    width: 90%;
    height: 5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    background-image: url('//cf.bstatic.com/static/img/cross_product_index/accommodation/07ca5cacc9d77a7b50ca3c424ecd606114d9be75.svg');
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 1.6rem center;
    box-sizing: border-box;
    border: 1px navy solid;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.searchComp {

    border: 1px solid navy;
    border-radius: 2px;
    border-top: none;
    width: 95%;
    margin: 0 auto;
    /* height: 30%; */
}

.select-location {
    position: relative;
}

.select {
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.option {
    list-style: none;
    padding: 0.3rem;
    font-size: 1.5rem;
    padding: 0.75rem;
    padding-left: 5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Ficonmonstr.com%2Flocation-pin-thin-svg%2F&psig=AOvVaw2ytp1qHMg0LHDGx8mk25yg&ust=1675251047584000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLCF9s7a8fwCFQAAAAAdAAAAABAY');
    /* background-repeat: no-repeat; */
    background-size: 2rem;
    background-position: center;
    box-sizing: border-box;
}

.option:hover {
    background-color: rgb(246, 243, 238);
}

.dates {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 5rem;
    padding: 0;
    border-radius: 0;
}

.date {
    width: 50%;
    border-radius: 0;
}

select {
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 0;
}

option {
    font-size: 1.5rem;
    height: 4rem;
}

.deal {
    background-color: aliceblue;
    width: 90%;
    height: 20rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    cursor: pointer;

}

.imageDiv {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.contentDiv {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    right: 1rem;
    width: 50%;

}

.mainContentDiv {
    font-size: 2rem;
    display: block;
    text-align: center;


}

.datesConetent {
    font-size: 2rem;
    padding-top: 3rem;
}


.imageByLocation {
    width: 15rem;
    height: 15rem;

}

#clickDeals {
    border-radius: 0px 0px 1px 1px;
    background-color: #003580;
    border: navy;
    box-shadow: 0px 0px 0px 0px navy;
}

.dealInfo {
    width: 90%;
    margin: 5rem auto;
    font-size: 3rem;
    background-color: #0035803d;
    padding: 5rem;
}

.confirmationDiv {
    background-color: aliceblue;
    width: 50%;
    margin: 5rem auto;
    height: 75vh;
    padding: 5rem;

}

.confirmationMessage {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1rem auto;
}

.confirmationMessageBody {
    margin-top: 1rem;
    line-height: 4.5rem;
}