#create-deal-div{
    background-image: url('../images/airplane.jpeg');
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.select-location{
    position: relative;
}

.select{
    position: absolute;
    width: 22rem;
    top: -1.3rem;
    background-color: rgb(255, 255, 255);
}

.option{
    list-style: none;
    padding: 0.3rem;
}

.option:hover{
    background-color: rgb(246, 243, 238);
}

#change-location{
    width: 115px;
    font-size: 12px;
    margin-left: 13rem;
}
