html {
  font-size: 10px;
}

.top-header {
  background-color: #003580;
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 8rem;
  padding: 3rem 1.5rem;
}

.logo {
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 1.5px 1px 1px #fff;
}

.right-links {
  width: 30%;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.5rem;
}
.companyRefFromClient {
  color: #fff;
  margin: auto;
}

.NavLink {
  color: #fff;
}

#companyDealsTitle {
  margin: 5rem auto;
  font-size: 4rem;
}

.comapnyDealDiv {
  margin: 2rem auto;
  font-size: 3rem;
  background-color: aliceblue;
}

.carCheck {
  display: flex;
  gap: 5rem;

}

#paymentForm label {
  margin: 2rem 0;
  font-size: 2rem;

}

#paymentForm #carInput {
  width: 2rem;
}

.parText {
  font-size: 2rem;
}