#create-deal-div{
    background-image: url('../images/airplane.jpeg');
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.select-location{
    position: relative;
}

.select{
    position: absolute;
    width: 22rem;
    background-color: rgb(255, 255, 255);
}

.option{
    list-style: none;
    padding: 0.7rem;
    font-size: 1.4rem;
}

.option:hover{
    background-color: rgb(246, 243, 238);
}

#change-location{
    width: 11.5rem;
    font-size: 1.2rem;
    margin-left: 25rem;
    margin-bottom: 0.8rem;
    padding: 0.2rem;
}

select {
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 0;
}

option {
    font-size: 1.5rem;
    height: 5rem;
}
