#create-deal-div {
    background-image: url('../images/airplane3.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.select-location {
    position: relative;
}

.select {
    position: absolute;
    width: 22rem;
    background-color: rgb(255, 255, 255);
}

.option {
    list-style: none;
    padding: 0.7rem;
    font-size: 1.4rem;
}

.option:hover {
    background-color: rgb(246, 243, 238);
}

#change-location {

    margin-bottom: 2rem;
    background-color: rgba(0, 0, 128, 0.932);
    color: aliceblue;
    /* text-align: center; */
    font-size: 4rem;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: none;
    line-height: 0.6;
    height: 4rem;
}

span {
    line-height: 40px;
}

select {
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 0;
}

option {
    font-size: 1.5rem;
    height: 5rem;
}

.flexTitleButton {
    display: flex;
    justify-content: space-around;
}

.parText {
    font-size: 2rem;
}